
/* Style of the search box inside the navigation bar */
.wrapper [type=text] {
  float: right;
  padding: 6px;
  border: solid;
  border-color: black;
  border-radius: 10px;
  width: 500px;
  margin-top: 50px;
  margin-right: 35%;
  font-size: 17px;
}

.search-icon {
    position: absolute;
    top: 65px;
    left: 61.8%;
    width: 25px;
  }

.image-icon {
    position: absolute;
    top: 65px;
    left: 58.5%;
    width: 25px;

}


.login {
    position: absolute;
    top: 55px;
    left: 82%;
    width: 40px;

}

.cart {
    position: absolute;
    top: 55px;
    left: 90%;
    width: 35px;

}


#logo {
  width: 18%;
  height: auto;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 20px;
}


/* Three image containers  */
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

#sorting {
    position: absolute;
    top: 200px;
    left: 76%;
}

#sort {
    position: absolute;
    top: 200px;
    left: 81%;
}

#page {
    position: absolute;
    top: 33%;
    left: 3%;
    font-size: 25px;
    font-weight:  bold;
}

/* style guide for color filter */
#filter1 {
    position: absolute;
    top: 42%;
    left: 3%;
    font-size: 20px;
}

#filterpic1 {
    position: absolute;
    top: 48%;
    left: 3%;
}

/* style guide for filling filter */
#filter2 {
    position: absolute;
    top: 73%;
    left: 3%;
    font-size: 20px;
}


#filterpic2 {
    position: absolute;
    top: 79%;
    left: 3%;
}

/* style guide for the products 1, 3, 5 */
#info {
    font-family: 'monospace';
    font-size: 20px;
    color: black;
    padding: 10px;
    display: inline-block;
    margin: 0 auto;
}

/* style guide for the products 2, 4, 6 */
#info1 {
    font-family: 'monospace';
    font-size: 20px;
    color: black;
    padding: 10px;
    display: inline-block;
    margin: 0 auto;
    text-indent: 20px;
}


.products {
  display:  inline-block;
  position: relative;
  left: 27%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

